aside {
    width: 250px;
    display: inline-block;
    background-color: #e2e2e2;
    padding: 20px;
}
section {
    display: inline-block;
    vertical-align: top;
    padding: 20px;
}

a {
    border: none;
    background: none;
    margin-right: 10px;
    text-decoration: none;
    cursor: pointer;
    padding: 5px;
}
a:hover {
    text-decoration: underline;
}