ol{
  list-style: none;
}

ol > li:first-child {
  counter-reset: item;
}
ol > li {
  counter-increment: item;
  position: relative;
}
ol > li:before {
  content:counters(item, ".") ". ";
  position: absolute;
  margin-right: 100%;
  right: 10px;
}